@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Raleway:wght@300&display=swap");

:root {
  --box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-4: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --blue: #2155cd;
  /* #2932e2 */
  --purple: #9499f1;
  --dark-purple: #7f84ee;
  --light-purple: #d4d6f9;
  --light-blue: #719ece;
  --white-blue: #eaebfc;
  --light-gray: #dddddd;
  --light-gray-2: #f3f3f3;
  --success-border: #61f3ac;
  --success-bkg: #dffdee;
  --danger-border: #f36161;
  --danger-bkg: #fddfdf;
  --footer-separator: 8rem;
  --header-font: "Nunito Sans", sans-serif;
  --body-font: "Raleway", sans-serif;
}

html,
body {
  min-height: 100vh;
  position: relative;
  font-family: var(--body-font);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

.logo-container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 250px;
    margin: auto;
    .bold {
      font-family: var(--header-font);
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      color: white;
      .not-bold {
        display: block;
        font-weight: 300;
        font-size: 1.3rem;
        margin: auto 10px;
      }
    }
  }
}

// SHARED LAYOUT

.nav-container {
  position: absolute;
  width: 100%;
  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
  .navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    .nav-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: auto;
      margin-right: 4rem;
      .nav-link {
        text-decoration: none;
        color: white;
        padding: 20px;
      }
    }
  }
}

// HOME

.home {
  position: relative;
  z-index: -1;
  //background-image: url("../public/images/cjs-home-img.jpg");
  //height: 100vh;
  .hero {
    position: absolute;
    width: 50vw;
    top: 25%;
    left: 5rem;
    font-size: 2vw;
  }
  h1 {
    color: white;
  }
}

.home-img {
  width: 100%;
}
