@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Raleway:wght@300&display=swap");


  $box-shadow-1: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  $box-shadow-2: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  $box-shadow-3: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  $box-shadow-4: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  $blue: #2155cd;
  /* #2932e2 */
  $purple: #9499f1;
  $dark-purple: #7f84ee;
  $light-purple: #d4d6f9;
  $light-blue: #719ece;
  $white-blue: #eaebfc;
  $light-gray: #dddddd;
  $light-gray-2: #f3f3f3;
  $success-border: #61f3ac;
  $success-bkg: #dffdee;
  $danger-border: #f36161;
  $danger-bkg: #fddfdf;
  $footer-separator: 8rem;
  $header-font: "Nunito Sans", sans-serif;
  $body-font: "Raleway", sans-serif;

html,
body {
  min-height: 100vh;
  position: relative;
  font-family: $body-font;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

.content-container {
  padding-bottom: $footer-separator;
}

a {
  text-decoration: none;
  color: white;
}

a, button {
  cursor: pointer;
}

.logo-container {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo {
    width: 250px;
    margin: auto;
    .bold {
      font-family: $header-font;
      font-size: 2rem;
      display: flex;
      flex-direction: row;
      color: white;
      .not-bold {
        font-weight: 300;
        font-size: 1.3rem ;
      }
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 15px;
}

.btn {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  box-shadow: $box-shadow-3;
}

.btn:active {
  box-shadow: none;
  color: rgba(60, 64, 67, 0.75);
  border-color: rgba(60, 64, 67, 0.75);
}

// SHARED LAYOUT

.nav-container, .nav-container-home {
  position: fixed;
  z-index: 1;
  width: 100vw;
  .navbar {
    height: 60px;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    .nav-list {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: auto;
      margin-right: 4rem;
      .nav-link {
        padding: 20px;
        text-transform: capitalize;
      }
      .active {
        color: #d72323;
      }
    }
  }

}

.nav-container-home {
  &:after {
    display: block;
    content: "";
    border-bottom: solid 1px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  &:hover {
    &:after {
      transform: scaleX(1);
    }
  }
}

.nav-container {
  background-color: black;
  padding-top: 0.1px;
}

.scroll {
  background-color: black;
  &:after {
    display: none;
  }
}

// HOME

.home {
  position: relative;
  height: 100vh;

  .opener {
    height: 59vw;
    background-image: url(../public/images/cjs-home-img.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .hero {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 10vh 5rem;
    font-size: 2vw;
    color: white;
  }

  h1, .home-btn1, .home-btn2 {
    animation-name: fadeInLeft;
    animation-fill-mode: both;
    animation-duration: 1.3s;
  }

  .home-btn1 {
   animation-delay: 2s;
  }

  .home-btn2 {
    animation-delay: 1s;
  }

  .atts {
    display: flex;
    flex-direction: column;
    height: 25rem;
    padding: 5rem 0;

    .icons-and-desc {
      display: flex;
      justify-content: space-around;
      font-size: 76px;
      div {
        width: 20vw;
        text-align: center;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) skewX(30deg);
  }

  60% {
    transform: skewX(-20deg);
  }

  80% {
    transform: skewX(5deg);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    transform: translateZ(0);
  }
}

// SERVICES

.services {
  text-align: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.card-container {
  width: 250px;
  box-shadow: $box-shadow-4;
  text-align: left;
  position: relative;
  height: 355px;

  h2 {
    font-size: 3rem;
  }

  h2,
  p {
    margin: 0 15px;
    padding: 10px 0;
  }

  .service-price {
    color: white;
    background-color: black;
  }

  ul {
    margin: 15px 0;
    text-align: left;
    padding: 1px 25px;
    li {
      margin: 10px auto;
    }
  }
}

// Media Queries

@media (max-width: 510px) {
  .home .hero {
    text-align: center;
    width: 70vw;
    top: 13rem;
    color: black;

    .btn-container {
      justify-content: center;
    }
  }

  .home .atts {
    padding-top: 15rem;
  }

  .icons-and-desc {
    margin: auto;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 910px) {
  .home .hero {
      font-size: 1.15rem;
  }
}
